// Variables
$navbar-border: darken(gray, 20%);
$navbar-bg: lighten(black, 15%);
$body-bg: #089DE3;
$navlink-color: #6496c8;
$navlink-border: darken(#6496c8, 20%);
$x-large: 43em;
$large: 30em;
$medium: 20em;
$small: 15em;
$x-small: 10em;
$large-font: 5em;
$md-font: 3em;
$fancy-fnt: 'Montserrat';
$mystery-fnt: 'Roboto';

// Mixins
@mixin linear-bg() {
	background: #6496c8;
	background: -moz-linear-gradient(top, #6496c8 0%, #193047 100%);
	background: -webkit-linear-gradient(top, #6496c8 0%, #193047 100%);
	background: -o-linear-gradient(top, #6496c8 0%, #193047 100%);
	background: -ms-linear-gradient(top, #6496c8 0%, #193047 100%);
	background: linear-gradient(top, #6496c8 0%, #193047 100%);
}

@mixin bg-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

// Globals
html, body {
	height: 100%;
	width: 100%;
	color: darken(#7EC4D3, 20%);
	font-family: $mystery-fnt, verdana, arial;
	margin: 0;
}

body {
	background: url('/img/sjmap.png') center center fixed no-repeat;
	@include bg-cover();
	padding-top: 3.3em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

p {
	margin: 0;
}

// Classes
.navbar-li {
	float: left;
	
	a {
		display: block;
		padding: 0.825em;
		color: white;

		&:link, &:visited {
			text-decoration: none;
		}

		&:active {
			text-decoration: none;
		}

	}
}

.active {
	color: white !important;
	background-color: $navlink-color;
	box-shadow: inset 0 0 0 1px $navlink-border, inset 0 5px 30px #193047;

	&:hover {
		text-decoration: none;
		color: white !important;
	}
}

.inactive {
	&:hover {
		text-decoration: none;
		color: white;
		box-shadow: inset 0 0 0 1px $navlink-border, 0 5px 15px #193047;
		border: none;
  		@include linear-bg();
	}
}

.view-box {
	height: 100%;
	width: 100%;
}
 
// IDs
#navi-bar {
	border-top: 2px solid $navbar-border;
	border-bottom: 2px solid $navbar-border;
	background-color: $navbar-bg;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100% !important;
	height: 3.35em;
	padding: 0 4em 0 4em;
	position: fixed;
}

#navbar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#directions {
	position: relative;
	margin: 0 auto;
	color: darken(#7EC4D3, 20%);
	text-align: center;
	width: 100%;
	height: $small;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}

#direction-text {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -9px;
	font-size: 1.3em;
}

#spc-heading {
	font-family: $fancy-fnt, arial, verdana;
	margin: 0.5em 0 0.5em 0;
	font-size: $md-font;
	color: #707070;
	cursor: pointer;
}

#map_canvas {
	min-height: 200px;
	min-width: 200px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

#crime-outer {
	background-color: rgba(204, 204, 204, 0.4);
	width: 50%;
	margin-top: 2em;
	margin-bottom: 1em;
	padding: 0 2em 0 2em;
}

// Media Queries
@media only screen and (max-width: 550px) {
	#directions {
		height: $x-small;
	}

	.wrapper {
		margin: 0 auto;
		width: $medium;
		height: $medium;
	}
}

@media only screen and (max-width: 700px) {
	#crime-outer {
		background-color: rgba(204, 204, 204, 0.4);
		width: 80%;
		margin-top: 2em;
		margin-bottom: 1em;
		padding: 0 2em 0 2em;
	}
}

@media only screen and (max-width: 550px) {
	#direction-text {
		font-size: 0.9em;
	}

	html, body {
		font-size: 0.9em;
	}
}